<html>
	<head></head>
	<body>
		<form action="registro/" method="POST">{% csrf_token %}			
			Token <input type="text" name="otro"></br>
			<input type="checkbox" name="conectado">
  			<input type="submit" value="Submit">
		</form>
	</body>
</html>