<html>
<head>
	<title>Subir una foto a Django</title>
</head>
<body>
	<h1>Suba su foto aquí par favar</h1>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
	        <label for="idUsuario">Token del Usuario: </label>
	        <input type="name" name="token" />
	    </div>
	    <div>
	        <label for="Foto">Foto: </label>
	        <input type="file" name="Foto" />
	    </div>
	    <div>
	    	 <input type="submit">
	    </div>
	</form>
</body>
</html>