<html>
<head>
	<title>vieTaxi</title>
</head>
	<body>
		{% include 'one.html' %}
		<p>My name is {{ person.name.upper }} and I have {{ person.age }} years old.<p>
		{% if algo %}
			Una lista aqui.
			<ul>
				{% for item in algo %}
					<li>{{ item }} </li>

				{% endfor %}
			</ul>

		{% else %}
			<p> No hay que mostrar</p>
		{% endif %}

	</body>
</html>